* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

/* --- HEADER --- */
header {
  display: grid;
  grid-template-areas: "logo search buttons";
  grid-template-columns: auto 1fr auto;
  align-items: center;
  width: 100%;
  padding: 20px 2rem;
  background-color: #000;
  gap: clamp(1rem, 2vw, 2rem);
}

/* LOGO */
.header_image {
  grid-area: logo;
}

.header_image img {
  height: clamp(40px, 5vw, 60px);
}

/* BARRA DE BÚSQUEDA */
.header_searchBar {
  grid-area: search;
  display: grid;
}

.search-form {
  display: grid;
}

/* Input y botón dentro del grid */
.search-input {
  padding: 0.5rem 3rem 0.5rem 1rem;
  border-radius: clamp(10px, 2vw, 20px);
  border: none;
  background-color: #363636;
  grid-area: 1 / 1 / 2 / 2; /* se superponen */
}

.search-btn {
  background: none;
  border: none;
  cursor: pointer;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: end;
  margin-right: 0.5rem;
  display: grid;
  place-items: center;
}

.search-btn img {
  height: clamp(20px, 3vw, 20px);
}

/* BOTONES DE PLATAFORMAS Y USUARIO */
.header_btn-container {
  grid-area: buttons;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: clamp(1rem, 1vw, 2rem);
}

.separator {
  width: 1.5px;
  height: 28px;
  background-color: #777777;
}


.platform-btn-container,
.user-btn-container {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: clamp(0.5rem, 1vw, 1rem);
}

.platform-btn,
.user-btn {
  height: clamp(20px, 3vw, 30px);
  width: auto;
  justify-self: center;
}

.platform-btn:hover,
.user-btn:hover {
  filter: brightness(0) saturate(100%) invert(55%) sepia(96%) saturate(746%)
    hue-rotate(358deg) brightness(101%) contrast(93%);
}

/* --- SECCIONES --- */
.news,
.offers {
  display: grid;
  gap: clamp(1rem, 2vw, 2rem);
  padding: 2% 7% 5%;
  color: white;
}

.news {
  background-color: #181818;
}

.offers {
  background-color: #252525;
}

.news h2,
.offers h2 {
  font-size: 48px;
  font-weight: 600;
  margin-left: -5%;
}

/* CONTENEDOR DE PRODUCTOS */
.products {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(clamp(180px, 20vw, 250px), 1fr)
  );
  justify-items: center;
}

.news .products {
  gap: 10%;
}

.offers .products {
  gap: 3%;
}

/* PRODUCTOS */
.product {
  display: grid;
  background-color: #202020;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s;
}

.product:hover {
  transform: scale(1.05);
}

.product a {
  display: grid;
  text-decoration: none;
  color: inherit;
  grid-template-rows: auto auto;
}

.product a img {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: fill;
  border-bottom: 1px solid #333;
}

.product-text {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0.5rem 1rem;
  font-weight: 400;
  align-items: center;
}

.product-text .price {
  font-weight: 700;
  justify-self: end;
}

/* OFERTAS: IMAGENES CUADRADAS Y TEXTO CENTRADO */
.offers .product a img {
  aspect-ratio: 3 / 3.25;
  object-fit: fill;
}

.offers .product-text {
  grid-template-columns: 1fr;
  justify-items: center;
  text-align: center;
}

/* --- FOOTER --- */
footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: clamp(0.5rem, 2vw, 1rem);
  font-size: 16px;
}
