/*
Error: Invalid CSS after "0": expected expression (e.g. 1px, bold), was ";"
        on line 2 of styles_index.css

1: * {
2:   margin: 0;
3:   padding: 0;
4:   box-sizing: border-box;
5:   font-family: "Inter", Arial, Helvetica, sans-serif;
6: }
7: 

Backtrace:
styles_index.css:2
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:1308:in `expected'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/script/lexer.rb:240:in `expected!'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/script/parser.rb:897:in `assert_done'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/script/parser.rb:69:in `parse'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/script/parser.rb:228:in `parse'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/script.rb:27:in `parse'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/engine.rb:1169:in `parse_script'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/engine.rb:745:in `parse_property'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/engine.rb:707:in `parse_property_or_rule'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/engine.rb:666:in `parse_line'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/engine.rb:539:in `build_tree'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/engine.rb:558:in `block in append_children'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/engine.rb:557:in `each'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/engine.rb:557:in `append_children'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/engine.rb:548:in `block in build_tree'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/engine.rb:541:in `each'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/engine.rb:541:in `build_tree'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/engine.rb:558:in `block in append_children'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/engine.rb:557:in `each'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/engine.rb:557:in `append_children'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/engine.rb:417:in `_to_tree'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:383:in `run'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/bin/sass:8:in `<top (required)>'
/usr/bin/sass:25:in `load'
/usr/bin/sass:25:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"0\": expected expression (e.g. 1px, bold), was \";\"\A         on line 2 of styles_index.css\A \A 1: * {\A 2:   margin: 0;\A 3:   padding: 0;\A 4:   box-sizing: border-box;\A 5:   font-family: \"Inter\", Arial, Helvetica, sans-serif;\A 6: }\A 7: "; }
