.error {
    color: red;
}

.ok {
    color: green;
}

body {
    text-align: center;
    font-family: "Inter", sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 64px;
}

h3{
    font-weight:500;
    font-size: 36px;
    margin-bottom: auto;
}