* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

main {
  display: grid;
  grid-template-areas:
    "featured"
    "news"
    "offers ";
}

.error {
    color: red;
}

.ok {
    color: green;
}

/*  HEADER  */
header {
  display: grid;
  grid-template-areas: "logo search buttons";
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: clamp(0.5rem, 1vw, 2rem);
  background-color: #000;
  gap: clamp(1rem, 2vw, 2rem);
}

/* LOGO */
.header_image {
  grid-area: logo;
}

.header_image img {
  height: clamp(40px, 3vw, 60px);
}

/* BARRA DE BÚSQUEDA */
.header_searchBar {
  grid-area: search;
}

.search-form {
  display: grid;
}

.search-input {
  padding: 0.5rem 3rem 0.5rem 1rem;
  border-radius: 20px;
  border: none;
  background-color: #333333;
  grid-area: 1 / 1 / 2 / 2;
  transition: background-color 0.3s ease;
}

.search-input:focus {
  outline: none;
  background-color: #dd7710ec;  
}

.search-btn {
  background: none;
  border: none;
  cursor: pointer;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: end;
  margin-right: 0.5rem;
  display: grid;
  place-items: center;
}

.search-btn img {
  height: clamp(20px, 3vw, 20px);
}

/* BOTONES DE PLATAFORMAS Y USUARIO */
.header_btn-container {
  grid-area: buttons;
  display: grid;
  grid-auto-flow: column;
  gap: clamp(1rem, 1vw, 2rem);
}

.separator {
  width: 1.5px;
  height: 28px;
  background-color: #777777;
}

.platform-btn-container,
.user-btn-container {
  display: grid;
  grid-auto-flow: column;
  gap: clamp(0.5rem, 1vw, 1rem);
}

.platform-btn,
.user-btn {
  height: clamp(20px, 3vw, 30px);
  width: auto;
  transition: transform 0.2s ease;
}

.platform-btn:hover,
.user-btn:hover {
  filter: brightness(0) saturate(100%) invert(55%) sepia(96%) saturate(746%) hue-rotate(358deg) brightness(101%) contrast(93%);
  transform: scale(1.3);
}

/* SECCIONES */
.news,
.offers {
  display: grid;
  gap: clamp(1rem, 2vw, 2rem);
  padding: 2% 7% 5%;
}

.news {
  grid-area: news;
  background-color: #1a1a1a;
}

.offers {
  grid-area: offers;
  background-color: #252525;
}

h2 {
  font-size: clamp(1.8rem, 4vw, 3rem);
  font-weight: 600;
  margin-left: -4vw;
  color: white;
}

h2.h2news {
  background-color: #1a1a1a;
}

h2.h2offers {
  background-color: #252525;
}

/* PRODUCTOS */
.products {
  display: grid;
}

.news .products {
  gap: clamp(1rem, 8vw, 10rem);
  grid-template-columns: repeat(3, auto);
}

.offers .products {
  gap: clamp(1rem, 3vw, 3rem);
  grid-template-columns: repeat(5, auto);
}

/* PRODUCTO INDIVIDUAL */
.product {
  background-color: #202020;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s;
}

.product:hover {
  box-shadow: 0 10px 20px rgba(255, 165, 0, 1);
}

.product a {
  text-decoration: none;
  color: inherit;
}

.product a img {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: fill;
  border-bottom: 1px solid #333;
}

.product-text {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0.5rem 1rem;
  font-weight: 400;
  align-items: center;
  color: white;
}

.product-text .price {
  font-weight: 700;
}

/* PRODUCTO INDIVIDUAL (OFERTAS)  */

.offers .product-text {
  grid-template-columns: 1fr;
  text-align: center;
}

/* FOOTER */
footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: clamp(0.5rem, 2vw, 1rem);
  font-size: clamp(0.9rem, 1vw, 1rem);
}

/* VIDEOS */

.media-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.product-image,
.product-video {
  width: 100%;
  aspect-ratio: 3 / 4;
  display: block;
  object-fit: scale-down;
  transition: opacity 0.3s ease;
}

.product-video {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  border-bottom: 1px solid #333;
}

.product.show-video .product-video {
  opacity: 1;
}

.product.show-video .product-image {
  opacity: 0.3;
}

/* DESTACADO */

.featured {
  grid-area: featured;
  position: relative;
  height: 50vh;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}

.featured-background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  transform: translate(-50%, -60%);
  object-fit: cover;
  opacity: 0.5;
}

.featured-link {
  position: absolute;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  padding: 2vh;
  display: grid;
  place-content: center;
  gap: 2vh;
  /* Separación entre título y subtítulo */
}

.featured-title {
  font-size: clamp(3rem, 8vw, 6rem);
  font-weight: 800;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.featured-subtitle {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  font-weight: 400;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
}

/* KEYFRAMES */

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(-7px);
  }

  100% {
    transform: translateY(0);
  }
}

.header_image img:hover {
  animation: bounce 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.product {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}

.news .product:nth-child(1) {
  animation-delay: 0.1s;
}

.news .product:nth-child(2) {
  animation-delay: 0.2s;
}

.news .product:nth-child(3) {
  animation-delay: 0.3s;
}


.offers .product:nth-child(1) {
  animation-delay: 0.4s;
}

.offers .product:nth-child(2) {
  animation-delay: 0.5s;
}

.offers .product:nth-child(3) {
  animation-delay: 0.6s;
}

.offers .product:nth-child(4) {
  animation-delay: 0.7s;
}

.offers .product:nth-child(5) {
  animation-delay: 0.8s;
}

.offers .product:nth-child(6) {
  animation-delay: 0.9s;
}

.offers .product:nth-child(7) {
  animation-delay: 1s;
}