main {
  display: grid;
  grid-template-areas: "featured" "news" "offers";
}

h2 {
  font-size: clamp(1.8rem, 4vw, 3rem);
  font-weight: 600;
  margin-left: -4vw;
  color: $color-text;

  .h2news {
    background-color: $color-bg-secondary;
  }

  .h2offers {
    background-color: $color-bg-tertiary;
  }
}

.featured {
  grid-area: featured;
  position: relative;
  height: 65vh;
  overflow: hidden;
  text-align: center;
  margin-left: -1vh;

  .featured-background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    transform: translate(-50%, -60%);
    object-fit: cover;
    opacity: 0.5;
  }

  .featured-link {
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 2vh;
    display: grid;
    place-content: center;
    gap: 2vh;
  }

  .featured-title {
    font-size: clamp(3rem, 8vw, 6rem);
    font-weight: 800;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  }

  .featured-subtitle {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    font-weight: 400;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
  }
}

.news,
.offers {
  display: block;
  gap: clamp(1rem, 2vw, 2rem);
  padding: 2% 7% 5%;

  .carousel-inner {
    overflow: visible;
    display: flex;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 5%;
  }

  .products {
    display: grid;
    padding: 40px 0;
  }
}

.news {
  grid-area: news;
  background-color: $color-bg-secondary;

  .products {
    gap: clamp(1rem, 8vw, 10rem);
    grid-template-columns: repeat(3, 1fr);
    padding: 40px 0;
  }

  //@for $i from 1 through $num-prods-news {
  //.product:nth-child(#{$i}) {
  //animation-delay: #{$i * 0.1}s;
  //}
  //}
}

.offers {
  grid-area: offers;
  background-color: $color-bg-tertiary;

  .products {
    gap: clamp(1rem, 3vw, 3rem);
    grid-template-columns: repeat(5, 1fr);
  }

  //@for $i from 1 through $num-prods-offers {
  //.product:nth-child(#{$i}) {
  //animation-delay: #{0.3s + ($i * 0.1s)};
  //}
  //}

  .product-text {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
